<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Berry</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Berry</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Clay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Clay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Grass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Grass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Hardcourt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Hardcourt</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Optic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Optic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.courtify.xyz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>courtify</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
